@import url("./assets/css/fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  font-family: vazir;
}

/* root variable */
:root {
  --color-primary: #ff5722;
  --color-primary-light: #ff7a50;
  --color-secondary-light: #fff6f2;
  --color-secondary-dark: #ffa589;
  --color-navbar: #f8f8f8;
  --color-headings: #000;
  --color-body: #333333;
  --color-white: #fff;
  --avatar-size: 50px;
}

html {
  font-size: 62.5%;
}

p {
  color: var(--color-body);
  font-size: 1.4rem;
  line-height: 2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    margin: 0 2rem;
  }
}

/* Distanse  */

.block {
  padding: 4rem 2rem;
}

.block-heading {
  margin: 2rem 0;
  font-size: 2rem;
  color: var(--color-headings);
}

@media screen and (min-width: 768px) {
  .block {
    padding: 8rem 2rem;
  }
  .block-heading {
    font-size: 3rem;
    margin: 4rem 0;
  }
}

/* Navbar */

.header {
  background-color: var(--color-white);
  padding: 1rem 0;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  z-index: 2;
}

.logo {
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.navList {
  display: flex;
  align-items: center;
}

.navList li {
  font-size: 1.6rem;
}

.navList li:last-child {
  display: inline-block;
  margin-right: 2rem;
}

.navList a {
  display: inline-block;
  color: var(--color-body);
  padding: 1rem;
  transition: all 0.3s ease-in;
}

.navList a:hover {
  color: var(--color-primary);
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .nav {
    position: absolute;
    top: -1000px;
    right: 2rem;
    left: 2rem;
    transition: all 0.5s linear;
    padding: 2rem;
  }
  .nav.active {
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
  }
  .navList {
    flex-direction: column;
    width: 100%;
  }
  .navList li {
    display: block;
    width: 100%;
  }
  .navList li a {
    display: block;
    width: 100%;
    padding: 0.5rem 0;
    margin: 1rem 0;
    border-bottom: 1px solid #ddd;
  }
  .navList li:last-child {
    margin-right: 0;
  }
}

/* Hero Section  */

.hero-section {
  width: 100%;
  height: 478px;
  position: relative;
}

.hero-section__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-section__banner {
  position: absolute;
  display: none;
  width: 40rem;
  bottom: -30rem;
  left: 10%;
}

.banner-phone {
  width: 100%;
}

.hero-section__body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section__body .body {
  position: absolute;
  top: 3rem;
  background-image: linear-gradient(
    51deg,
    rgba(23, 26, 60, 0.7) 5%,
    rgba(23, 26, 60, 0.3) 95%
  );
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
  color: var(--color-white);
}

.hero-section .body__buttons {
  display: grid;
  gap: 1rem;
}

.hero-section h1 {
  font-size: 3rem;
}

.hero-section h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .hero-section__body .body {
    padding: 3rem 2rem;
    right: 10%;
  }
  .hero-section__banner {
    display: block;
  }
  .hero-section .body__buttons {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Services  */

.services {
  margin-top: 20rem;
}

.services h2 {
  font-size: 3rem;
}

.services__tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  padding-bottom: 1rem;
  gap: 1rem;
}

.services__tabs .tab {
  color: #222;
  opacity: 0.5;
  max-width: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  transition: all 0.3s ease-in-out;
}

.tab:hover {
  opacity: 1;
}

.tab.active {
  opacity: 1;
}

.tab p {
  font-size: 1.2rem;
}

.tab img {
  max-width: 85px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  margin-top: 4rem;
  flex: 1;
}

.content-container h3 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--color-headings);
}

.content-container .description {
  text-align: justify;
  font-size: 1.6rem;
  font-weight: 500;
}

.tab-pane {
  justify-content: space-between;
  align-items: flex-start;
  gap: 4rem;
  display: none;
  padding-top: 2rem;
}

.tab-pane.active {
  display: flex;
}

.service__image {
  display: none;
  order: 2;
  flex: 1;
  padding-top: 2rem;
}

.service__image img {
  width: 100%;
}

@media (min-width: 768px) {
  .service__image {
    display: block;
  }
}

@media (min-width: 1024px) {
  .tab {
    max-width: 200px;
  }
  .tap p {
    font-size: 1.4rem;
  }
  .tab img {
    width: 100%;
  }
}

/* Corporate  */

.corporate {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  margin: 7rem 0;
}

.corporate__image {
  margin: auto;
  width: 100%;
}

.corporate__content {
  display: flex;
  text-align: justify;
  flex-direction: column;
  gap: 2rem;
}

.corporate img {
  width: 100%;
}

@media (min-width: 768px) {
  .corporate:first-child {
    flex-direction: row-reverse;
  }
  .corporate {
    gap: 8rem;
  }
  .corporate__image {
    flex: 1;
  }
  .corporate__content {
    flex: 1;
  }
}

/* Cards  */

.cards-section {
  margin: 0 2rem;
}

.cards-section h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 300px));
  justify-content: center;
  gap: 4rem;
}

.cards-section .card {
  border-radius: 2rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
}

.card:nth-child(2):hover {
  transform: scale(1.1);
}

.card-header {
  padding: 2rem;
  color: var(--color-white);
  background-color: var(--color-primary-light);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card:nth-child(2) .card-header {
  background-color: var(--color-primary);
}

.card-header__one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header__two p {
  color: var(--color-white);
}

.card-header__two span {
  font-size: 2rem;
  margin-left: 0.5rem;
  display: inline-block;
}

.card-body {
  padding: 2rem;
  height: 100%;
}

.card-body ul {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-body ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.card-body ul li .icon {
  background-color: rgb(13, 161, 13);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 1rem;
  color: var(--color-white);
}

@media (min-width: 1024px) {
  .cards-section {
    margin: auto;
  }
  .cards-section h2 {
    text-align: right;
  }
  .card:nth-child(2) {
    transform: scale(1.05);
  }
}

/* Travel  */

.travel__slides {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
}

.travel__slides::-webkit-scrollbar {
  display: none;
}

.travel_slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.travel__img {
  width: 320px;
  height: 300px;
  border-radius: 1rem;
  overflow: hidden;
}

.travel__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.travel__body {
  border-radius: 0.5rem;
  background-color: rgb(245, 243, 243);
  padding: 1rem 2rem;
  width: 80%;
  transform: translateY(-5rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.travel__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.travel__title span {
  font-size: 1.2rem;
  font-weight: 500;
}

.travel__body h4 {
  font-size: 1.4rem;
}

.travel__avatars {
  display: flex;
  align-items: center;
}

.travel__avatars .avatar {
  border: 3px solid var(--color-white);
  max-width: 50px;
  max-height: 50px;
  overflow: hidden;
  border-radius: 100%;
  cursor: pointer;
  margin-left: -20px;
  transition: all 0.3s linear;
  position: relative;
}

.travel__avatars .avatar:hover {
  transform: translateX(10px);
}

.travel__avatars .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hidden-avatar {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.travel__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ccc;
}

.travel__icons .left-col {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* Select Radio  */

.selectRadio-section {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.selectRadio .form-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  cursor: pointer;
  color: var(--color-body);
  font-weight: 700;
  position: relative;
}

.selectRadio label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 4rem;
  padding: 0.7rem 2rem;
  transition: all 0.3s ease-in-out;
}

.selectRadio label::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 100%;
  box-shadow: 0 0 0 2px #ccc;
  position: absolute;
  right: 8%;
  transition: all 0.3s ease-in-out;
}

input[type="radio"]:checked + label {
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

input[type="radio"]:checked + label::before {
  border: 3px solid var(--color-white);
  background-color: var(--color-primary);
  box-shadow: 0 0 0 2px var(--color-primary);
}

input[type="radio"] {
  display: none;
}

@media (min-width: 1024px) {
  .selectRadio label {
    font-size: 2rem;
  }
}

/* Accordion  */

.accordion {
  width: 100%;
  margin: 2rem 0;
  border: 1px solid #222;
  border-radius: 0.5rem;
  overflow: hidden;
}

.accordion__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background-color: #f6f6f6;
  transition: all 0.5s linear;
  cursor: pointer;
}

.accordion__button button {
  background-color: transparent;
  color: var(--color-headings);
  font-size: 1.6rem;
  font-weight: 500;
}

.accordion__button span {
  background-color: rgb(247, 63, 8);
  padding: 1rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.6rem;
}

.accordion__button.active {
  background-color: #e0dddd;
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s linear;
  padding: 0 2rem;
}

.accordion__content p{
  font-size: 1.2rem;
}

.accordion__content.active {
  max-height: fit-content;
  padding: 1.5rem 2rem;
  border-top: 1px solid #ccc;
  animation: fade 0.5s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1024px) {
  .accordion__button button {
    font-size: 2rem;
  }
  .accordion__button span {
    font-size: 2rem;
  }
  .accordion__content p{
    font-size: 1.4rem;
  }
}

/* Contact Us  */

.contact-us {
  display: flex;
  gap: 3rem;
  flex-direction: column;
}

.contact-us .left-col {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 4rem;
}

.contact-us__address {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-us__address .icon-holder {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 2rem;
}

.icon-holder span {
  color: var(--color-body);
  font-size: 1.4rem;
}

.icon-holder i {
  font-size: 1.8rem;
}

.contact-us__address span {
  font-weight: 500;
  display: inline-block;
}

.contact-us__address i {
  color: var(--color-primary);
  display: inline-block;
  padding: 0.7rem;
  border-radius: 100%;
  background-color: rgb(245, 244, 244);
}

.contact-us__map {
  display: none;
}

.contact-us__social {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

.contact-us__social span {
  background-color: rgb(245, 244, 244);
  padding: 0.8rem;
  border-radius: 100%;
  cursor: pointer;
  font-size: 2.5rem;
  color: var(--color-primary);
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-linkedin:hover {
  color: rgb(8, 8, 245);
}

.fa-telegram:hover {
  color: rgb(31, 123, 243);
}

.fa-instagram:hover {
  color: rgb(248, 8, 8);
}

.contact-us__form {
  height: 100%;
}

.contact-us__form form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-us__form h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

input,
textarea {
  display: block;
  border-radius: 4rem;
  background-color: rgb(245, 244, 244);
  padding: 0.7rem 1.5rem;
  border: 1px solid #ccc;
}

textarea {
  resize: none;
  border-radius: 0.5rem;
}

::placeholder {
  font-size: 1.4rem;
}

textarea:focus,
input:focus {
  border: 2px solid var(--color-primary);
}

.contact-us__map img {
  width: 100%;
  height: fit-content;
}

@media (min-width: 768px) {
  .contact-us {
    flex-direction: row;
  }
  .contact-us .left-col {
    height: fit-content;
    flex: 1;
  }
  .contact-us .right-col {
    flex: 1;
  }
}

@media (min-width: 1024px) {
  .contact-us .left-col {
    flex: 3;
    gap: 3rem;
    flex-direction: column;
  }
  .contact-us__map {
    display: block;
  }
  .contact-us__social {
    padding: 0;
    box-shadow: none;
    justify-content: flex-end;
  }
  .contact-us__address {
    flex-direction: row;
    justify-content: space-between;
  }
  .contact-us__address .icon-holder {
    flex-direction: column;
    gap: 1rem;
  }
}

/* Footer  */

.footer {
  background-color: var(--color-headings);
  color: var(--color-white);
  padding: 4rem 0;
}

.main-footer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer__item {
  display: flex;
  flex-direction: column;
}

.footer__item .icons {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
}

.footer__item svg {
  cursor: pointer;
}

.footer__item.enemad {
  flex-direction: row;
}

.footer__item.social {
  justify-content: center;
  align-items: center;
}

.footer__item img {
  display: inline-block;
  width: 15rem;
  margin-bottom: 3rem;
}

.footer__item span {
  margin-right: 0.5rem 0;
  display: inline-block;
  font-size: 1.2rem;
}

.footer__item .enemad__img {
  width: 10rem;
}

.footer__item.enemad img {
  max-width: 100%;
  object-fit: contain;
  object-position: center;
}

.footer__item h4 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.footer__item a {
  font-size: 1.2rem;
  color: var(--color-white);
  display: block;
  margin: 0.5rem 0;
}

.footer__item a:hover {
  color: var(--color-primary);
}

@media (min-width: 768px) {
  .main-footer {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* Badge  */

.badge {
  padding: 0.3rem 1rem;
  border-radius: 2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: inline-block;
  font-weight: 500;
}

.badge-primary {
  background-color: var(--color-primary-light);
  color: var(--color-white);
}

.badge-primary-dark {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.badge-secondary {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

/* Buttons */

.btn {
  padding: 1rem 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  display: inline-block;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.text-orange {
  color: var(--color-primary);
  font-weight: 500;
}

.btn:hover {
  transform: scale(1.02);
}

.btn-block {
  width: 100%;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn-dark {
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--color-white);
  border: 2px solid var(--color-white);
}

.btn-light {
  background-color: var(--color-white);
  color: var(--color-headings);
}

.text-red {
  color: rgb(245, 8, 8);
}

@media (max-width: 768px) {
  .btn {
    text-align: center;
  }
}
