@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Vazir-Bold.woff");
}

@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Vazir-Medium.woff");
}

@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Vazir-Thin.woff");
}
